.venv/
.idea/
chat_bot/__pycache__
chat_bot/glove.6B.50d.txt
chat_bot/glove.6B.100d.txt
chat_bot/glove.6B.200d.txt
chat_bot/glove.6B.300d.txt

chat_bot/client_secret.json
chat_bot/best_model.h5
chat_bot/label_encoder.pkl
chat_bot/token.json
chat_bot/tokenizer.pkl
tensorflow/
flask_session/
migrations
app.log
instance
test
chat_bot/archive.zip



