<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=yes">
    <title>{% block title %}{% endblock%}</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="/static/assets/chat_css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/chat_css/main.css" rel="stylesheet" type="text/css" />
<!--    &lt;!&ndash; END GLOBAL MANDATORY STYLES &ndash;&gt;-->
    <link href="/static/assets/chat_css/all.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/assets/chat_css/select2.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/assets/chat_css/chatBot.css" rel="stylesheet" type="text/css"/>
    <link href="/static/assets/chat_css/timeline.css" rel="stylesheet" type="text/css"/>
    <link href="/static/assets/chat_css/appointment.css" rel="stylesheet" type="text/css"/>
    <link href="/static/assets/chat_css/auth.css" rel="stylesheet" type="text/css"/>
    <script src="/static/assets/js/session_management.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/static/assets/js/jquery-3.6.4.min.js"></script>
</head>
<body>
<!-- Chat bot UI start -->
    {% block content %}

    {% endblock %}
<!-- Chat Bot UI Ends -->

<script type="257be86a981729866f2fa61c-text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83834093-1', 'auto');
    ga('send', 'pageview');

  </script>
 <script>
        $(document).ready(function(){
            $(".select2_el").select2({
            });
        });
 </script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="257be86a981729866f2fa61c-|49" defer=""></script>
<script src="/static/assets/chat_js/rocket-loader.min.js" data-cf-settings="257be86a981729866f2fa61c-|49" defer=""></script>
<!-- Time line Html Ends -->
<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<script src="/static/assets/chat_js/jquery-3.1.1.min.js"></script>
<script src="/static/assets/chat_js/popper.min.js"></script>
<script src="/static/assets/chat_js/bootstrap.min.js"></script>
<script src="/static/assets/chat_js/main.js"></script>
<script src="/static/assets/chat_js/select2.min.js"></script>
<script src="/static/assets/chat_js/appointment.js"></script>
<script src="/static/assets/chat_js/auth.js"></script>
<script>
    $(document).ready(function () {
        //Toggle fullscreen
        $(".chat-bot-icon").click(function (e) {
            $(this).children('img').toggleClass('hide');
            $(this).children('svg').toggleClass('animate');
            $('.chat-screen').toggleClass('show-chat');
        });
        $('.chat-mail button').click(function () {
            $('.chat-mail').addClass('hide');
            $('.chat-body').removeClass('hide');
            $('.chat-input').removeClass('hide');
            $('.chat-header-option').removeClass('hide');
        });

        $('.end-chat').click(function () {
            $('.chat-body').addClass('hide');
            $('.chat-input').addClass('hide');
            $('.chat-session-end').removeClass('hide');
            $('.chat-header-option').addClass('hide');
        });
    });

</script>
</body>
</html>
