<!-- jQuery library -->
  <script src="/static/assets/js/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/static/assets/js/bootstrap.js"></script>
  <!-- Slick slider -->
  <script src="/static/assets/js/slick.js"></script>
  <!-- Counter -->
  <script type="text/javascript" src="/static/assets/js/waypoints.js"></script>
  <script type="text/javascript" src="/static/assets/js/jquery.counterup.js"></script>
  <!-- Mixit slider -->
  <script type="text/javascript" src="/static/assets/js/jquery.mixitup.js"></script>
  <!-- Add fancyBox -->
  <script type="text/javascript" src="/static/assets/js/jquery.fancybox.pack.js"></script>

  <!-- Custom chat_js -->
  <script src="/static/assets/js/custom.js"></script>
